@tailwind base;
@tailwind components;
@tailwind utilities;

form .input-set {
	@apply flex flex-col justify-center items-start w-full;
}

.input-set label {
	@apply font-thin text-lg text-fuchsia-200;
}

form input {
	@apply shadow-xl bg-transparent text-xl text-white p-1 h-10 w-full;
	border: 1px solid white;
}

*:focus {
	outline: none;
}

.form-container button {
	@apply hover:bg-white hover:text-fuchsia-700 text-white font-bold p-2 transition-all mt-8 rounded-3xl hover:-translate-x-1 hover:-translate-y-1;
	border: 2px solid white;
}

.form-container button[disabled] {
	@apply border-gray-400 text-gray-400 cursor-not-allowed hover:bg-transparent hover:text-gray-400;
}
